body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-home {
  background-color: #2828FF;
  color: white;
  border: none;
  height: 100%;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: auto;
  align-items: center;
}

.btn-home:hover {
  background-color: #1313b9;
}
